Empresa sueldo 10 personas: 1)sueldos en una lista 2)impresion sueldos 3)cuantos sueldos superiores 1200€ 4)retornar la media de los sueldos 5)mostrar sueldos por debajo del promedio

## Apartado 1

In [2]:
sueldos=[1000, 2000, 3000, 800, 500, 200, 1300, 2100, 1150, 600]
print("Los sueldos de los empleados son :", sueldos)

Los sueldos de los empleados son : [1000, 2000, 3000, 800, 500, 200, 1300, 2100, 1150, 600]

## Apartado 3
 Con una función y un bucle

In [3]:
#3.1
s=[]
for i in sueldos:
    if i>=1200:
        s.append(i)

In [4]:
s

[2000, 3000, 1300, 2100]

In [5]:
#3.2
def sueldo_2(sueldos):
    s=0
    for i in sueldos:
        if i>=1200:
            s=s+1
    return(s)

## Apartado 4

In [7]:
suma=[]
for i in sueldos:
    suma=sum(sueldos)
print(suma/len(sueldos))

1265.0

In [8]:
def promedio(sueldos):
    return(sum(sueldos)/len(sueldos))

In [9]:
print( promedio(sueldos))

1265.0

In [10]:
promedio_1=promedio(sueldos)

## Apartado 5

In [12]:
bajos=[]
for i in sueldos:
    if i<promedio_1:
        bajos.append(i)
print("Sueldos menores que la media", bajos)

Sueldos menores que la media [1000, 800, 500, 200, 1150, 600]